@import url('https://fonts.cdnfonts.com/css/cocobiker');

@font-face {
	font-family: 'lzr'; 
	src: url(https://github.com/rosagro-tech/rosagro-tech.github.io/fonts/lazar/Lazar.ttf); 
}


body{background-color: #191e1f; }

.container {
  /*font-family: 'muli', sans-serif;*/
  font-family: 'CocoBiker'; font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin: -150px 0 0 -200px;
}

.title {
    margin-top: 232px;
    text-align: center;
    color: #ff9800;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 12px;
}

.desk {
  position: absolute;
  left: 10px;
  top: 218px;
  width: 380px;
  height: 4px;
  background: #ff9800;
}

.desk::before,
.desk::after {
  content: "";
  display: block;
  width: 4px;
  height: 14px;
  background: #ff9800;
  position: absolute;
}

.desk::before {
  left: 34px;
  top: 4px;
}

.desk::after {
  left: 342px;
  top: 4px;
}

.bottle {
  position: absolute;
  left: 70px;
  top: 144px;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #ff9800;
}

.bottle::before {
  content: "";
  display: block;
  width: 18px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: #ff9800;
}

.bottleGap {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: black;
}

.bottleGap::before {
  content: "";
  display: block;
  width: 14px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: black;
}

.bottleLiquid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #ffc69d, #ff9800);
  width: 66px;
  height: 35px;
  margin: 33px 0 0 2px;
  border-radius: 0 0 33px 33px;
}

.cup {
  position: absolute;
  top: 141px;
  left: 180px;
  width: 64px;
  height: 78px;
  background: #ff9800;
}

.cup::before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  border-top: 12px solid #ff9800;
  border-left: 12px solid transparent;
  margin-left: -12px;
}

.cupGap {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 74px;
  background: black;
}

.cupGap::before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  margin-left: -10px;
}

.cupLiquid {
  position: absolute;
  top: 44px;
  left: 2px;
  width: 56px;
  height: 28px;
  background: linear-gradient(145deg, #ffc69d, #ff9800);
}

.cupGap > span {
  position: absolute;
  right: 0;
  width: 6px;
  height: 2px;
  background: #ff9800;
}

.cupGap > span:nth-child(2) {
  bottom: 10px;    background: transparent;
}

.cupGap > span:nth-child(3) {
  bottom: 20px;    background: transparent;
}

.cupGap > span:nth-child(4) {
  bottom: 35px;
}

.cupGap > span:nth-child(5) {
  bottom: 45px;
}

.cupGap > span:nth-child(6) {
  bottom: 55px;
}

.cupGap > span:nth-child(7) {
  bottom: 65px;
}

.filter {
  position: absolute;
  left: 220px;
  top: 88px;
  width: 8px;
  height: 32px;
  background: #ff9800;
}

.filter::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 32px;
  border-top: 8px solid #ff9800;
  border-right: 8px solid transparent;
}

.filter::after {
  content: "";
  display: block;
  position: absolute;
  left: -22px;
  top: -20px;
  z-index: -1;
  border-top: 26px solid #ff9800;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

.filterGap {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 4px;
  height: 29px;
  background: black;
}

.filterGap::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 29px;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
}

.filterGap::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: -20px;
  border-top: 22px solid black;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}

.filterLiquid {
  position: absolute;
    left: -12px;
    top: -12.95px;
    border-top: 14px solid #ffc107;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

.support {
  position: absolute;
  left: 215px;
  top: 92px;
  width: 116px;
  height: 4px;
  background: #ff9800;
}

.support::before {
  content: "";
  display: block;
  position: absolute;
  left: 66px;
  top: -40px;
  width: 4px;
  height: 160px;
  background: #ff9800;
}

.supportCross {
  position: absolute;
  left: 57px;
  top: -11px;
  width: 18px;
  height: 24px;
  background: black;
  border: 2px solid #ff9800;
}

.dot {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 4px;
  height: 4px;
  background: #ff9800;
  border-radius: 50%;
}

.supportBase {
  position: absolute;
  left: 266px;
  top: 191px;
  width: 30px;
  height: 24px;
  background: black;
  border: 2px solid #ff9800;
}

.supportBase::before {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 12px;
  width: 22px;
  height: 4px;
  background: #ff9800;
}

@keyframes expolode {
  28% {
    opacity: 1;
  }
  32% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes drop {
  80% {
    opacity: 1;
    top: 127px;
  }
  100% {
    top: 190px;
  }
}

.bubble1 {
    position: absolute;
    left: 93px;
    top: 86px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff9800;
    opacity: 0;
    animation: expolode 1s infinite;
    background-color: #ffaa3e;
}

.bubble2 {
position: absolute;
    left: 108px;
    top: 78px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
    animation: expolode 1.7s infinite;
    border: 1px solid #ff9800;
    background-color: #ffaa3e;
}


.bubble3 {
    position: absolute;
    left: 98px;
    top: 70px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0;
    animation: expolode 2s infinite;
    border: 1px solid #ff9800;
    background-color: #ffaa3e;
}

.drip {
    position: absolute;
    left: 220px;
    top: 127px;
    width: 4px;
    height: 4px;
    background: #ffc107;
    border-radius: 50%;
    opacity: 0;
    animation: drop 2s infinite;
}
