body {
  margin: 0;
  overflow: hidden;
  cursor: none;
  background-color: #ffffff;
  BACKGROUND-REPEAT: NO-REPEAT;
  background-image: url(https://thumb.tildacdn.com/tild6237-6362-4166-b938-343964626662/-/resize/1000x/-/format/webp/noroot.png);
  height: 100vh;
  z-index: -1;
  background-position: bottom;
}

canvas {
/*background: white;*/
  width: 100vw;
			height: 100vh;
}

.my-cursor {
  border-style: solid;
  border-width: 0px;
  border-color: rgba(0, 188, 235, 100);
  background-color: rgba(0, 188, 235, 100);
  display: block;
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 10px;
  left: 10px;    
}

.hover {
	position: fixed;
	top: 80%;
	left: 50%;
  color: #005073;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: none;
}
