.section {
  text-align:center;
  font-size: 3em;

}
#fp-nav ul li .fp-tooltip {

  color: #545454;
}
.column {
    /*border-bottom: 8px solid #ff0;*/
    /*border-bottom: 8px solid #efefef;*/
 /* 8px solid #efefef;*/
}
a {
  color: unset;
}

