@font-face {
    font-family: 'Dobrozrachniy Oblique';
    src: url('Dobrozrachniy-Oblique.eot');
    src: url('Dobrozrachniy-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Dobrozrachniy-Oblique.woff2') format('woff2'),
        url('Dobrozrachniy-Oblique.woff') format('woff'),
        url('Dobrozrachniy-Oblique.ttf') format('truetype'),
        url('Dobrozrachniy-Oblique.svg#Dobrozrachniy-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Dobrozrachniy';
    src: url('Dobrozrachniy-Regular.eot');
    src: url('Dobrozrachniy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Dobrozrachniy-Regular.woff2') format('woff2'),
        url('Dobrozrachniy-Regular.woff') format('woff'),
        url('Dobrozrachniy-Regular.ttf') format('truetype'),
        url('Dobrozrachniy-Regular.svg#Dobrozrachniy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoBikeR';
    src: url('CocoBikeR.eot');
    src: url('CocoBikeR.eot?#iefix') format('embedded-opentype'),
        url('CocoBikeR.woff2') format('woff2'),
        url('CocoBikeR.woff') format('woff'),
        url('CocoBikeR.ttf') format('truetype'),
        url('CocoBikeR.svg#CocoBikeR') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'WellwaitFree';
    src: url('WellwaitFree-Regular.eot');
    src: url('WellwaitFree-Regular.eot?#iefix') format('embedded-opentype'),
        url('WellwaitFree-Regular.woff2') format('woff2'),
        url('WellwaitFree-Regular.woff') format('woff'),
        url('WellwaitFree-Regular.ttf') format('truetype'),
        url('WellwaitFree-Regular.svg#WellwaitFree-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
